@import "../../global.scss";

#about {
  background-color: white;

  .aboutWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 20px 20px;

    h6 {
      color: $mainColor;
    }

    .icon {
      color: $mainColor;
      font-size: 28px;
    }
  }
}
